.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }

  form {
    display: grid;
    gap: 20px;
  }

  label {
    font-weight: bold;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 4px;
  }

  button {
    padding: 10px;
    background-color: #4ed555;
    color: white;
    border: none;
    cursor: pointer;
  }
